@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AI Teacher</h1>
    <p class="lead">交互式智能教学应用</p>
    <p>@Html.ActionLink("Classroom Monitor", "Report", "Home", new { @class = "btn btn-primary btn-lg" })</p>
    <div class="report-container">
        <div id="status-list"></div>
        <div id="conclusion"></div>
    </div>
</div>


@section scripts {
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var chat = $.connection.reportHub;
        
        chat.client.renderReport = function (clients, conclusion) {
            console.log(clients);
            $("#conclusion").text(conclusion);
        };

        $.connection.hub.start();
    });

    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    };
</script>
}

